@page "/"
@attribute [Authorize]

<PageTitle>SkillsMatrix - Home</PageTitle>

<h1>Welcome to SkillsMatrix!</h1>

<input class="search-bar" type="search" />

<div class="container">
    <h3>Free Staff</h3>
    <div class="row justify-content-md-center row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col result-box">
            <div class ="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                    <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>  
        </div>

        <div class="col result-box">
            <div class="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>
        </div>

        <div class="col result-box">
            <div class="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>
        </div>        
    </div>

    <h3 class="home-titles">Busy Staff</h3>
    <div class="row justify-content-md-center row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col result-box">
            <div class="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>
        </div>

        <div class="col result-box">
            <div class="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>
        </div>

        <div class="col result-box">
            <div class="result-name">
                <h4>Alice Lee</h4>
                <p>Assistant Consultant</p>
            </div>
            <div class="result-team">
                <p><strong>Team:</strong></p>
                <p>Not on a team yet.</p>
                <a href="">add to a team</a>
            </div>
            <div class="result-skill">
                <p><strong>Skills:</strong></p>
                <p>HTML, CSS, JavaScript, Python, Agile Methodology...</p>
                <a href="">see more</a>
            </div>
            <div class="result-contact">
                <p><strong>Contact:</strong></p>
                <p>alice.lee@version1.com</p>
                <a href="">see profile</a>
            </div>
        </div>

    </div>
</div>



@inject Data.ISkillService SkillService
@inject Data.IEmployeeService EmployeeService
@inject Data.ITeamService TeamService
@code {
    protected override async Task OnInitializedAsync()
    {
        await SkillService.GetSkillsAsync();
    }
}