@page "/"
@attribute [Authorize]

<PageTitle>SkillsMatrix - Home</PageTitle>

<h1>Hello, username! </h1>

<input type="search"/>

@inject Data.ISkillService SkillService
@inject Data.IEmployeeService EmployeeService
@inject Data.ITeamService TeamService
@code {
    protected override async Task OnInitializedAsync()
    {
        await SkillService.GetSkillsAsync();
    }
}