@page "/"
@attribute [Authorize]

<PageTitle>SkillsMatrix - Home</PageTitle>

<h1>Welcome to SkillsMatrix!</h1>

<input class="search-bar" type="search" />



@inject Data.ISkillService SkillService
@inject Data.IEmployeeService EmployeeService
@inject Data.ITeamService TeamService
@code {
    protected override async Task OnInitializedAsync()
    {
        await SkillService.GetSkillsAsync();
    }
}