@page "/skillstable"

<PageTitle>SkillsMatrix - Skills</PageTitle>

<h3>Skills</h3>

<a class="btn btn-action" href="editskill/0">
    New
    <i class="fa-solid fa-plus"></i>
</a>
<table class="table">

    <thead>
        <tr>
            <!--<td>Id</td>-->
            <td>Name</td>
            <td>Category</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>

        @foreach (var skill in _skills)
        {
            <tr>
                <!--<td>
                    @skill.Id
                </td>-->
                <td>
                    @skill.Name
                </td>
                <td>
                    @skill.Category
                </td>
                <td>
                    <a class="btn btn-transparent" href="editskill/@skill.Id">
                        <i class="fa-regular fa-pen-to-square btn-icon"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-transparent" @onclick="@( e => OnDelete(skill.Id) )">
                        <i class="fa-regular fa-trash-can btn-icon-danger"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>

</table>

@inject V1BlazorSkills.Data.ISkillService SkillService;
@code {
    private List<V1BlazorSkills.Data.Skill> _skills;
    protected override void OnInitialized()
    {
        _skills = SkillService.GetSkills();
    }

    private void OnDelete(Guid id)
    {
        SkillService.DeleteSkill(id);
    }
}
