@page "/teamstable"

<PageTitle>SkillsMatrix - Teams</PageTitle>

<h3>Teams Table</h3>

<a class="btn btn-action" href="editteam/0">
    New
    <i class="fa-solid fa-plus"></i>
</a>
<table class="table">

    <thead>
        <tr>
            <!--<td>
                Id
            </td>-->
            <td>
                Name
            </td>
            <td>Members</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>

        @foreach (var team in _teams)
        {
            <tr>
                <!--<td>
                    @team.Id
                </td>-->
                <td>
                    @team.Name
                </td>
                <td>
                    @foreach (Data.Employee emp in team.Employees)
                    {
                        <p>@emp.Name</p>
                    }
                </td>
                <td>
                    <a class="btn btn-transparent" href="editteam/@team.Id">
                        <i class="fa-regular fa-pen-to-square btn-icon"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-transparent" @onclick="@( e => OnDelete(team.Id) )">
                        <i class="fa-regular fa-trash-can btn-icon-danger"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>

</table>

@inject Data.ITeamService TeamService;
@code {
    private List<Data.Team> _teams;
    protected override void OnInitialized()
    {
        _teams = TeamService.GetTeams();
    }

    private void OnDelete(Guid id)
    {
        TeamService.DeleteTeam(id);
    }
}
